* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #5169a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header > nav > ol > li {
  display: inline;
  font-size: 1.2rem;
}

footer {
  background-color: #5169a7;
  justify-content: center;
  margin: 0;
  padding: 15px;
}

footer > img {
  display: block;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

ol,
ul {
  list-style: none;
}

main > section:nth-child(2) > ul > li:nth-child(odd) {
  text-decoration: line-through;
}

main > section:nth-child(2) > ul > li:hover {
  color: orange;
}

a {
  text-decoration: none;
  color: black;
}

body > main > section:nth-child(2) {
  padding-top: 30px;
}

nav > ol > li:nth-child(2) {
  font-weight: bold;
}

main > div {
  background-color: #d09d72;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
  font-size: 2rem;
  font-weight: 300;
}

main > div > p {
  margin: 0;
}

main > div > a > img {
  filter: invert(8%) sepia(75%) saturate(5304%) hue-rotate(271deg)
    brightness(102%) contrast(94%);
}

main > section {
  background-color: #d1bead;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.5rem;
  align-items: flex-start;
}

main > section:nth-child(3) {
  background-color: #d1bead;
  font-size: 2rem;
  justify-content: flex-start;
  flex-direction: column;
  height: 300px;
}

main > section:nth-child(3) > p {
  margin: 0;
  padding-bottom: 200px;
}

main > section > ul {
  margin: 0;
  padding: 0;
}

main > section > ol {
  margin: 0;
  padding: 0;
  text-align: right;
}

main > section:nth-child(3) > form {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

main > section:nth-child(3) > form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid purple;
  margin-bottom: 15px;
  width: 1000px;
}

main > section:nth-child(3) > form label {
  font-size: 1.5rem;
}

button {
  background-color: #5169a7;
  border: none;
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 200px;
}

form > label {
  align-items: flex-end;
}
